/* swiper slide */
.hiring-slide {
	width: 100%;
	min-height: 100%;
}
.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* 
----------------------------------------
>>>>>>>>>>>>>>	form <<<<<<<<<<<<<<<<<<
----------------------------------------
*/
#name,
#age,
#email,
#phone,
select {
	border: 1px solid lightgray;
	border-radius: 10px;
	max-width: 500px;
	width: -webkit-fill-available;
	padding: 5px 10px;
	outline: none;
}
#name:focus,
#age:focus,
#email:focus,
#phone:focus,
select:focus {
	border: 3px solid var(--primary-1);
}
.gender {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 4px solid #505050;
}
.gender:checked {
	border: 4px solid #383838;
	background: var(--primary-1);
}
/* upload image */

#upload-label {
	opacity: 0;
	border-radius: 12px;
	transition: ease-in-out 0.3s;
	color: #3f3f3f;
	font-size: x-large;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
#upload-label:hover {
	background-color: #3b3b3b;
	color: #fff;
	opacity: 1;
}
/* 
-------------------------------------------------------
>>>>>>>>>>>>>>>>>>> RESPONSIVE <<<<<<<<<<<<<<<<<<<<<<<
-------------------------------------------------------
*/
@media screen and (min-width: 320px) {
}
@media screen and (min-width: 600px) and (max-width: 1365px) {
}
@media screen and (min-width: 1366px) {
}
